
@font-face{
  font-family:customfont;
  src: url(/assets/static/GASMASK_.TTF);
}
span{
  display:inline-block;
  color:grey;
}
  /*======================================
    Left  Side
  ============================*/
  .left {
    left: 0;
    height: 90%;
    width: 70%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background:url("/assets/static/jogging.png");
    background-size:100% 100%;
  }
  /*======================================
  Right Side
  ============================*/
  .right {
    right: 0;
    height: 90%;
    width: 30%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
  }
  .quote{
    height:90%;
    text-align:center;
    position: relative;
    top:25%;
    font-size:22pt;
    font-family:customfont;
  }

  @media all and (max-width:450px){
    .quote{
      font-size:12pt;
    }
  }
